@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f9f9f9;
  --foreground: #141414;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #141414;
    --foreground: #f9f9f9;
  }
}


body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Nunito Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}

.textLink {
  text-decoration: underline;
  transition: 0.2s;
}

.textLink:hover {
  color: #DF9E36;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

main {
  padding-top: 72px !important;
}

@media screen and (min-width: 720px) {
  main {
    padding-top: 0 !important;
  }
}
